body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1056px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u172_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 829px;
    height: 38px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}

#u172 {
    position: absolute;
    left: 44px;
    top: 152px;
    width: 829px;
    height: 38px;
    font-size: 20px;
    color: #FFFFFF;
}

#u173 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 825px;
    word-wrap: break-word;
}

#u174_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 47px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
}

#u174 {
    position: absolute;
    left: 291px;
    top: 18px;
    width: 300px;
    height: 47px;
    font-size: 16px;
}

#u175 {
    position: absolute;
    left: 2px;
    top: 14px;
    width: 296px;
    word-wrap: break-word;
}

#u176_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 41px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

#u176 {
    position: absolute;
    left: 906px;
    top: 149px;
    width: 150px;
    height: 41px;
    font-size: 18px;
}

#u177 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 130px;
    word-wrap: break-word;
}

#u178_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 279px;
    height: 47px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u178 {
    position: absolute;
    left: 12px;
    top: 18px;
    width: 279px;
    height: 47px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u179 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 275px;
    word-wrap: break-word;
}

#u180_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 829px;
    height: 38px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}

#u180 {
    position: absolute;
    left: 44px;
    top: 242px;
    width: 829px;
    height: 38px;
    font-size: 20px;
    color: #FFFFFF;
}

#u181 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 825px;
    word-wrap: break-word;
}

#u182_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 41px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

#u182 {
    position: absolute;
    left: 906px;
    top: 239px;
    width: 150px;
    height: 41px;
    font-size: 18px;
}

#u183 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 130px;
    word-wrap: break-word;
}

#u184_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 267px;
    height: 24px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u184 {
    position: absolute;
    left: 606px;
    top: 256px;
    width: 267px;
    height: 24px;
    color: #FFFFFF;
}

#u185 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 263px;
    word-wrap: break-word;
}

#u186_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 829px;
    height: 38px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}

#u186 {
    position: absolute;
    left: 44px;
    top: 335px;
    width: 829px;
    height: 38px;
    font-size: 20px;
    color: #FFFFFF;
}

#u187 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 825px;
    word-wrap: break-word;
}

#u188_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 41px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

#u188 {
    position: absolute;
    left: 906px;
    top: 332px;
    width: 150px;
    height: 41px;
    font-size: 18px;
}

#u189 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 130px;
    word-wrap: break-word;
}

#u190_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 267px;
    height: 24px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u190 {
    position: absolute;
    left: 606px;
    top: 349px;
    width: 267px;
    height: 24px;
    color: #FFFFFF;
}

#u191 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 263px;
    word-wrap: break-word;
}

#u192_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 253px;
    height: 49px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

#u192 {
    position: absolute;
    left: 686px;
    top: 437px;
    width: 253px;
    height: 49px;
    font-size: 18px;
}

#u193 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 233px;
    word-wrap: break-word;
}
