body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 2400px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u0_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2400px;
    height: 50px;
    background: inherit;
    background-color: rgba(0, 102, 153, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2400px;
    height: 50px;
}

#u1 {
    position: absolute;
    left: 2px;
    top: 17px;
    width: 2396px;
    visibility: hidden;
    word-wrap: break-word;
}

#u2_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 353px;
    height: 37px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#u2 {
    position: absolute;
    left: 286px;
    top: 7px;
    width: 353px;
    height: 37px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

#u3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 353px;
    white-space: nowrap;
}

#u4 {
    position: absolute;
    left: 315px;
    top: 196px;
    width: 300px;
    height: 25px;
}

#u4_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

#u5_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

#u5 {
    position: absolute;
    left: 269px;
    top: 203px;
    width: 30px;
    height: 18px;
    text-align: center;
}

#u6 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    white-space: nowrap;
}

#u7 {
    position: absolute;
    left: 315px;
    top: 240px;
    width: 300px;
    height: 25px;
}

#u7_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

#u8_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

#u8 {
    position: absolute;
    left: 269px;
    top: 247px;
    width: 30px;
    height: 18px;
    text-align: center;
}

#u9 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    white-space: nowrap;
}

#u10_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 40px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u10 {
    position: absolute;
    left: 389px;
    top: 297px;
    width: 140px;
    height: 40px;
}

#u11 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 136px;
    word-wrap: break-word;
}
