body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 2400px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u12_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2400px;
    height: 50px;
    background: inherit;
    background-color: rgba(0, 102, 153, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u12 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2400px;
    height: 50px;
}

#u13 {
    position: absolute;
    left: 2px;
    top: 17px;
    width: 2396px;
    visibility: hidden;
    word-wrap: break-word;
}

#u14_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 193px;
    height: 37px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u14 {
    position: absolute;
    left: 400px;
    top: 8px;
    width: 193px;
    height: 37px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u15 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 193px;
    white-space: nowrap;
}

#u16_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 800px;
    background: inherit;
    background-color: rgba(228, 228, 228, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u16 {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 200px;
    height: 800px;
}

#u17 {
    position: absolute;
    left: 2px;
    top: 392px;
    width: 196px;
    visibility: hidden;
    word-wrap: break-word;
}

#u18 {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 200px;
    height: 60px;
    overflow: hidden;
}

#u18_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 60px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u18_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u19_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 33px;
}

#u19 {
    position: absolute;
    left: 73px;
    top: 69px;
    width: 41px;
    height: 23px;
    font-size: 20px;
}

#u20 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u21 {
    position: absolute;
    left: 0px;
    top: 110px;
    width: 200px;
    height: 60px;
    overflow: hidden;
}

#u21_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 60px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u21_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u22_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 33px;
}

#u22 {
    position: absolute;
    left: 73px;
    top: 129px;
    width: 41px;
    height: 23px;
    font-size: 20px;
}

#u23 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u24 {
    position: absolute;
    left: 0px;
    top: 170px;
    width: 200px;
    height: 60px;
    overflow: hidden;
}

#u24_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 60px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u24_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u25_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 33px;
}

#u25 {
    position: absolute;
    left: 73px;
    top: 189px;
    width: 41px;
    height: 23px;
    font-size: 20px;
}

#u26 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u27 {
    position: absolute;
    left: 0px;
    top: 230px;
    width: 200px;
    height: 62px;
    overflow: hidden;
}

#u27_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 62px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u27_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u28_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 33px;
}

#u28 {
    position: absolute;
    left: 73px;
    top: 251px;
    width: 41px;
    height: 23px;
    font-size: 20px;
}

#u29 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u30 {
    position: absolute;
    left: 0px;
    top: 292px;
    width: 200px;
    height: 60px;
    overflow: hidden;
}

#u30_state0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 60px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    -ms-overflow-y: hidden;
    overflow-y: hidden;
    background-image: none;
}

#u30_state0_content {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
}

#u31_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 51px;
    height: 33px;
}

#u31 {
    position: absolute;
    left: 73px;
    top: 311px;
    width: 41px;
    height: 23px;
    font-size: 20px;
}

#u32 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 41px;
    white-space: nowrap;
}

#u33_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 132px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u33 {
    position: absolute;
    left: 16px;
    top: 17px;
    width: 132px;
    height: 18px;
}

#u34 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 132px;
    white-space: nowrap;
}

#u35_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 18px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u35 {
    position: absolute;
    left: 190px;
    top: 17px;
    width: 30px;
    height: 18px;
}

#u36 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    white-space: nowrap;
}

#u37 {
    position: absolute;
    left: 233px;
    top: 129px;
    width: 867px;
    height: 434px;
}

#u38_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u38 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u39 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 204px;
    word-wrap: break-word;
}

#u40_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u40 {
    position: absolute;
    left: 208px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u41 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 204px;
    word-wrap: break-word;
}

#u42_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u42 {
    position: absolute;
    left: 416px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u43 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 204px;
    word-wrap: break-word;
}

#u44_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 238px;
    height: 30px;
}

#u44 {
    position: absolute;
    left: 624px;
    top: 0px;
    width: 238px;
    height: 30px;
}

#u45 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 234px;
    word-wrap: break-word;
}

#u46_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u46 {
    position: absolute;
    left: 0px;
    top: 30px;
    width: 208px;
    height: 30px;
}

#u47 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u48_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u48 {
    position: absolute;
    left: 208px;
    top: 30px;
    width: 208px;
    height: 30px;
}

#u49 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u50_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 30px;
}

#u50 {
    position: absolute;
    left: 416px;
    top: 30px;
    width: 208px;
    height: 30px;
}

#u51 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u52_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 238px;
    height: 30px;
}

#u52 {
    position: absolute;
    left: 624px;
    top: 30px;
    width: 238px;
    height: 30px;
}

#u53 {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 234px;
    visibility: hidden;
    word-wrap: break-word;
}

#u54_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 369px;
}

#u54 {
    position: absolute;
    left: 0px;
    top: 60px;
    width: 208px;
    height: 369px;
}

#u55 {
    position: absolute;
    left: 2px;
    top: 176px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u56_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 369px;
}

#u56 {
    position: absolute;
    left: 208px;
    top: 60px;
    width: 208px;
    height: 369px;
}

#u57 {
    position: absolute;
    left: 2px;
    top: 176px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u58_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 208px;
    height: 369px;
}

#u58 {
    position: absolute;
    left: 416px;
    top: 60px;
    width: 208px;
    height: 369px;
}

#u59 {
    position: absolute;
    left: 2px;
    top: 176px;
    width: 204px;
    visibility: hidden;
    word-wrap: break-word;
}

#u60_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 238px;
    height: 369px;
}

#u60 {
    position: absolute;
    left: 624px;
    top: 60px;
    width: 238px;
    height: 369px;
}

#u61 {
    position: absolute;
    left: 2px;
    top: 176px;
    width: 234px;
    visibility: hidden;
    word-wrap: break-word;
}

#u62 {
    position: absolute;
    left: 761px;
    top: 81px;
    width: 140px;
    height: 25px;
}

#u62_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u63_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 244px;
    height: 22px;
    background: inherit;
    background-color: rgba(188, 188, 188, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
    -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
    box-shadow: 5px 5px 10px rgba(0, 0, 51, 0.349019607843137);
}

#u63 {
    position: absolute;
    left: 484px;
    top: 81px;
    width: 244px;
    height: 22px;
}

#u64 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 244px;
    word-wrap: break-word;
}

#u65 {
    position: absolute;
    left: 287px;
    top: 81px;
    width: 160px;
    height: 22px;
}

#u65_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 160px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

#u65_input:disabled {
    color: grayText;
}

#u66 {
    position: absolute;
    left: 260px;
    top: 84px;
    width: 100px;
    height: 16px;
}

#u67 {
    position: absolute;
    left: 16px;
    top: 0px;
    width: 82px;
    visibility: hidden;
    word-wrap: break-word;
}

#u66_input {
    position: absolute;
    left: -3px;
    top: -2px;
}
