body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 1115px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u416_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 511px;
    height: 100px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    text-align: left;
}

#u416 {
    position: absolute;
    left: 291px;
    top: 18px;
    width: 511px;
    height: 100px;
    font-size: 18px;
    text-align: left;
}

#u417 {
    position: absolute;
    left: 2px;
    top: 28px;
    width: 507px;
    word-wrap: break-word;
}

#u418_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 279px;
    height: 47px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u418 {
    position: absolute;
    left: 12px;
    top: 55px;
    width: 279px;
    height: 47px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u419 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 275px;
    word-wrap: break-word;
}

#u420 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u421_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 829px;
    height: 38px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}

#u421 {
    position: absolute;
    left: 44px;
    top: 143px;
    width: 829px;
    height: 38px;
    font-size: 20px;
    color: #FFFFFF;
}

#u422 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 825px;
    word-wrap: break-word;
}

#u423_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 267px;
    height: 24px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u423 {
    position: absolute;
    left: 606px;
    top: 157px;
    width: 267px;
    height: 24px;
    color: #FFFFFF;
}

#u424 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 263px;
    word-wrap: break-word;
}

#u425_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 145px;
    height: 41px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

#u425 {
    position: absolute;
    left: 44px;
    top: 191px;
    width: 145px;
    height: 41px;
    text-align: left;
}

#u426 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 141px;
    word-wrap: break-word;
}

#u427 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u428_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u428 {
    position: absolute;
    left: 58px;
    top: 335px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u429 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u430_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u430 {
    position: absolute;
    left: 58px;
    top: 379px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u431 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u432 {
    position: absolute;
    left: 144px;
    top: 379px;
    width: 300px;
    height: 25px;
}

#u432_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u433_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u433 {
    position: absolute;
    left: 58px;
    top: 411px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u434 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u435_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u435 {
    position: absolute;
    left: 144px;
    top: 411px;
    width: 75px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u436 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u437_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u437 {
    position: absolute;
    left: 58px;
    top: 443px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u438 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u439 {
    position: absolute;
    left: 144px;
    top: 443px;
    width: 300px;
    height: 93px;
}

#u439_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 93px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u440 {
    position: absolute;
    left: 44px;
    top: 259px;
    width: 832px;
    height: 71px;
}

#u441_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 169px;
    height: 33px;
}

#u441 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 169px;
    height: 33px;
}

#u442 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 165px;
    word-wrap: break-word;
}

#u443_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 166px;
    height: 33px;
}

#u443 {
    position: absolute;
    left: 169px;
    top: 0px;
    width: 166px;
    height: 33px;
}

#u444 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 162px;
    word-wrap: break-word;
}

#u445_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 146px;
    height: 33px;
}

#u445 {
    position: absolute;
    left: 335px;
    top: 0px;
    width: 146px;
    height: 33px;
}

#u446 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 142px;
    word-wrap: break-word;
}

#u447_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 346px;
    height: 33px;
}

#u447 {
    position: absolute;
    left: 481px;
    top: 0px;
    width: 346px;
    height: 33px;
}

#u448 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 342px;
    word-wrap: break-word;
}

#u449_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 169px;
    height: 33px;
}

#u449 {
    position: absolute;
    left: 0px;
    top: 33px;
    width: 169px;
    height: 33px;
}

#u450 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 165px;
    word-wrap: break-word;
}

#u451_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 166px;
    height: 33px;
}

#u451 {
    position: absolute;
    left: 169px;
    top: 33px;
    width: 166px;
    height: 33px;
}

#u452 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 162px;
    word-wrap: break-word;
}

#u453_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 146px;
    height: 33px;
}

#u453 {
    position: absolute;
    left: 335px;
    top: 33px;
    width: 146px;
    height: 33px;
}

#u454 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 142px;
    word-wrap: break-word;
}

#u455_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 346px;
    height: 33px;
}

#u455 {
    position: absolute;
    left: 481px;
    top: 33px;
    width: 346px;
    height: 33px;
}

#u456 {
    position: absolute;
    left: 2px;
    top: 9px;
    width: 342px;
    word-wrap: break-word;
}

#u457 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u458_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u458 {
    position: absolute;
    left: 464px;
    top: 335px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u459 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u460_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u460 {
    position: absolute;
    left: 464px;
    top: 379px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u461 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u462 {
    position: absolute;
    left: 550px;
    top: 379px;
    width: 300px;
    height: 25px;
}

#u462_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u463_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u463 {
    position: absolute;
    left: 464px;
    top: 411px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u464 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u465_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u465 {
    position: absolute;
    left: 550px;
    top: 411px;
    width: 75px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u466 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u467_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u467 {
    position: absolute;
    left: 464px;
    top: 443px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u468 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u469 {
    position: absolute;
    left: 550px;
    top: 443px;
    width: 300px;
    height: 93px;
}

#u469_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 93px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u470 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u471_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u471 {
    position: absolute;
    left: 58px;
    top: 559px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u472 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u473_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u473 {
    position: absolute;
    left: 58px;
    top: 603px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u474 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u475 {
    position: absolute;
    left: 144px;
    top: 603px;
    width: 300px;
    height: 25px;
}

#u475_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u476_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u476 {
    position: absolute;
    left: 58px;
    top: 635px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u477 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u478_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u478 {
    position: absolute;
    left: 144px;
    top: 635px;
    width: 75px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u479 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u480_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u480 {
    position: absolute;
    left: 58px;
    top: 667px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u481 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u482 {
    position: absolute;
    left: 144px;
    top: 667px;
    width: 300px;
    height: 93px;
}

#u482_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 93px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u483 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u484_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u484 {
    position: absolute;
    left: 464px;
    top: 559px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u485 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u486_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u486 {
    position: absolute;
    left: 464px;
    top: 603px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u487 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u488 {
    position: absolute;
    left: 550px;
    top: 603px;
    width: 300px;
    height: 25px;
}

#u488_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u489_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u489 {
    position: absolute;
    left: 464px;
    top: 635px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u490 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u491_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u491 {
    position: absolute;
    left: 550px;
    top: 635px;
    width: 75px;
    height: 22px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
}

#u492 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u493_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u493 {
    position: absolute;
    left: 464px;
    top: 667px;
    width: 215px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u494 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 215px;
    word-wrap: break-word;
}

#u495 {
    position: absolute;
    left: 550px;
    top: 667px;
    width: 300px;
    height: 93px;
}

#u495_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 93px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u496_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 242px;
    height: 53px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    text-align: left;
}

#u496 {
    position: absolute;
    left: 873px;
    top: 396px;
    width: 242px;
    height: 53px;
    font-size: 18px;
    text-align: left;
}

#u497 {
    position: absolute;
    left: 2px;
    top: 16px;
    width: 238px;
    word-wrap: break-word;
}
