body {
    margin: 0px;
    background-image: none;
    position: static;
    left: auto;
    width: 873px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
}

#base {
    position: absolute;
    z-index: 0;
}

#u710_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 511px;
    height: 100px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 18px;
    text-align: left;
}

#u710 {
    position: absolute;
    left: 291px;
    top: 18px;
    width: 511px;
    height: 100px;
    font-size: 18px;
    text-align: left;
}

#u711 {
    position: absolute;
    left: 2px;
    top: 39px;
    width: 507px;
    word-wrap: break-word;
}

#u712_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 279px;
    height: 47px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u712 {
    position: absolute;
    left: 12px;
    top: 55px;
    width: 279px;
    height: 47px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

#u713 {
    position: absolute;
    left: 2px;
    top: 12px;
    width: 275px;
    word-wrap: break-word;
}

#u714 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
}

#u715_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 829px;
    height: 38px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 20px;
    color: #FFFFFF;
}

#u715 {
    position: absolute;
    left: 44px;
    top: 143px;
    width: 829px;
    height: 38px;
    font-size: 20px;
    color: #FFFFFF;
}

#u716 {
    position: absolute;
    left: 2px;
    top: 8px;
    width: 825px;
    word-wrap: break-word;
}

#u717_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 267px;
    height: 24px;
    background: inherit;
    background-color: rgba(0, 0, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #FFFFFF;
}

#u717 {
    position: absolute;
    left: 606px;
    top: 157px;
    width: 267px;
    height: 24px;
    color: #FFFFFF;
}

#u718 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 263px;
    word-wrap: break-word;
}

#u719_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 145px;
    height: 41px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
}

#u719 {
    position: absolute;
    left: 44px;
    top: 191px;
    width: 145px;
    height: 41px;
    text-align: left;
}

#u720 {
    position: absolute;
    left: 2px;
    top: 11px;
    width: 141px;
    word-wrap: break-word;
}

#u721_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u721 {
    position: absolute;
    left: 51px;
    top: 254px;
    width: 56px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u722 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 56px;
    white-space: nowrap;
}

#u723 {
    position: absolute;
    left: 174px;
    top: 254px;
    width: 300px;
    height: 25px;
}

#u723_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u724_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u724 {
    position: absolute;
    left: 51px;
    top: 298px;
    width: 93px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u725 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u726 {
    position: absolute;
    left: 174px;
    top: 298px;
    width: 300px;
    height: 25px;
}

#u726_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u727_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u727 {
    position: absolute;
    left: 103px;
    top: 338px;
    width: 65px;
    height: 19px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u728 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65px;
    white-space: nowrap;
}

#u729 {
    position: absolute;
    left: 188px;
    top: 338px;
    width: 300px;
    height: 25px;
}

#u729_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u730_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u730 {
    position: absolute;
    left: 103px;
    top: 381px;
    width: 65px;
    height: 19px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u731 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 65px;
    white-space: nowrap;
}

#u732 {
    position: absolute;
    left: 188px;
    top: 381px;
    width: 300px;
    height: 25px;
}

#u732_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u733 {
    position: absolute;
    left: 348px;
    top: 426px;
    width: 140px;
    height: 25px;
}

#u733_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u734 {
    position: absolute;
    left: 534px;
    top: 338px;
    width: 140px;
    height: 25px;
}

#u734_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u735 {
    position: absolute;
    left: 534px;
    top: 381px;
    width: 140px;
    height: 25px;
}

#u735_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u736_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u736 {
    position: absolute;
    left: 51px;
    top: 471px;
    width: 93px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u737 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 93px;
    white-space: nowrap;
}

#u738 {
    position: absolute;
    left: 174px;
    top: 471px;
    width: 300px;
    height: 25px;
}

#u738_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u739 {
    position: absolute;
    left: 51px;
    top: 591px;
    width: 140px;
    height: 25px;
}

#u739_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u740 {
    position: absolute;
    left: 307px;
    top: 591px;
    width: 140px;
    height: 25px;
}

#u740_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u741 {
    position: absolute;
    left: 534px;
    top: 591px;
    width: 140px;
    height: 25px;
}

#u741_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #333333;
    text-align: center;
}

#u742_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    height: 22px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u742 {
    position: absolute;
    left: 51px;
    top: 529px;
    width: 75px;
    height: 22px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
}

#u743 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 75px;
    white-space: nowrap;
}

#u744 {
    position: absolute;
    left: 174px;
    top: 529px;
    width: 300px;
    height: 25px;
}

#u744_input {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 25px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    text-align: left;
}

#u745_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 19px;
    height: 25px;
}

#u745 {
    position: absolute;
    left: 205px;
    top: 199px;
    width: 19px;
    height: 25px;
}

#u746 {
    position: absolute;
    left: 2px;
    top: 4px;
    width: 15px;
    visibility: hidden;
    word-wrap: break-word;
}

#u747_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    height: 19px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u747 {
    position: absolute;
    left: 224px;
    top: 202px;
    width: 33px;
    height: 19px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#u748 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 33px;
    white-space: nowrap;
}
